@model IEnumerable<Utilidades.ViewModels.TipoArticulo.TipoArticuloViewModel>


<div class="row">
    
    <div class="col-lg-7 col-lg-push-2">
        <p>
            @Html.ActionLink("Nuevo", "Create", null, new { role = "btn", @class = "btn btn-default" })
        </p>
        <div class="panel panel-success">
            <div class="panel-heading">Tipos</div>
            <div class="panel-body">

                <table class="table" data-dt="true">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Descripcion)
                            </th>
                            <th>.</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Descripcion)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Descripcion)
                            </td>
                            <td>.</td>
                        </tr>
                    </tfoot>


                </table>
            </div>
        </div>

    </div>


</div>
