@model Utilidades.ViewModels.Articulo.ArticuloViewModel

<ol class="breadcrumb">
    <li>@Html.ActionLink("Artículos", "Index", "Articulo", new { Area = "Repositorio" })</li>
    <li class="active">Editar</li>
    <li class="active">@Model.Id</li>
</ol>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-11 ">
                @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control", style = "width: 100% !important;" } })
                @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Activo, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-11">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Activo)
                    @Html.ValidationMessageFor(model => model.Activo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        @Html.HiddenFor(model => model.UsuarioCreacion)
        @Html.HiddenFor(model => model.FechaCreacion)
        <div class="form-group">
            <label class="control-label col-md-1" for="t">Tags</label>
            <div class="col-md-11">
                <input type="text" id="TagSelector" name="t" class="form-control" data-ajaxhelper="@Url.Action("GetTagsPorNombre","Tag",new { Area="Admin"})" data-ajaxcreate="@Url.Action("ObtenerOCrearTag","Tag",new { Area="Admin"})" />
                <div id="tagContainer">
                    @{
                        var contador = Model.TagsSeleccionados == null ? 0 : Model.TagsSeleccionados.Count();
                    }
                    @for (int i = 0; i < contador; i++)
                    {
                        <div class="badge badge-info customtag">
                            @Model.Tags.ToArray()[i].Descripcion <span class="eliminar">x</span>

                            <input type="hidden" name="TagsSeleccionados[@i].Descripcion" value="@Model.TagsSeleccionados.ToArray()[i].Descripcion" />
                            <input type="hidden" name="TagsSeleccionados[@i].Eliminado" value="false" />
                        </div>
                    }
                </div>
            </div>

                
        </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Privado, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-11">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Privado)
                        @Html.ValidationMessageFor(model => model.Privado, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TipoId, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-11">
                    @Html.DropDownListFor(model => model.TipoId, Model.TodosLosTipos.Select(s => new SelectListItem() { Text = s.Descripcion, Value = s.Id.ToString() }).ToList(), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TipoId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">

                <div class="col-md-11">
                    @Html.EditorFor(model => model.Contenido, new { htmlAttributes = new { id = "articulo_contenido" } })
                    @Html.ValidationMessageFor(model => model.Contenido, "", new { @class = "text-danger" })
                </div>
            </div>









            <div class="form-group">
                <div col-md-12">
                    <input type="submit" value="Guardar" class="btn btn-success" />
                </div>
            </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<link href="~/Content/Site.css">
@section scripts{


    @Scripts.Render("~/bundles/tinymce")
    @Scripts.Render("~/bundles/jqueryui")


    <script>
        $(document).ready(function () {
            var tags = [];

            $("#tagContainer").on("click",".eliminar", function () {
                console.log("dio");
                $(this).parent().css("display", "none");
                $(this).parent().find("input[name*='Eliminado']").val(true);
                $(this).parent().find("input[name*='Descripcion']").val("");
            })



            $("#TagSelector").keypress(function (event) {
                if (event.key === "Enter") {
                    event.preventDefault();
                    var valor = $("#TagSelector").val();
                    if (valor === null || valor === "")
                        return;
                    $.ajax({

                        type: "POST",
                        url: $("#TagSelector").data("ajaxcreate"),
                        data: {
                            tag : valor,

                        },
                        success: function (request) {
                            var html = '<div class="badge badge-info customtag">' + valor + '<span class="eliminar">x</span>';

                            if (request.Resultado === 0) {

                                tags = $(".customtag");

                                var total = tags.length + '';
                                console.log(total);

                                var input1 = '<input type="hidden" value="' + valor + '" name="TagsSeleccionados[' + total + '].Descripcion" ></input>';
                                var input2 = '<input type="hidden" value="false" name="TagsSeleccionados[' + total  + '].Eliminado" ></input>';
                                html = html + input1 + input2 + '</div>';
                                $("#TagSelector").val("");
                                for (var i = 0; i < total; i++) {
                                    console.log(tags[i]);
                                   if($(tags[i]).find("input[name*='Descripcion']").val() === valor) return;
                                }



                                $("#tagContainer").append(html);

                            }

                        }

                    });

                }
            });

            tinymce.init({
                selector: '#articulo_contenido',
                plugins: 'print preview fullpage paste importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern noneditable help charmap quickbars emoticons',
                imagetools_cors_hosts: ['picsum.photos'],
                menubar: 'file edit view insert format tools table help',
                toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl',
                toolbar_sticky: true,
                autosave_ask_before_unload: true,
                autosave_interval: "30s",
                autosave_prefix: "{path}{query}-{id}-",
                autosave_restore_when_empty: false,
                autosave_retention: "2m",
                image_advtab: true,
                content_css: [
                    '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                    '//www.tiny.cloud/css/codepen.min.css'
                ],
                link_list: [
                    { title: 'My page 1', value: 'http://www.tinymce.com' },
                    { title: 'My page 2', value: 'http://www.moxiecode.com' }
                ],
                image_list: [
                    { title: 'My page 1', value: 'http://www.tinymce.com' },
                    { title: 'My page 2', value: 'http://www.moxiecode.com' }
                ],
                image_class_list: [
                    { title: 'None', value: '' },
                    { title: 'Some class', value: 'class-name' }
                ],
                importcss_append: true,
                height: 400,
                file_picker_callback: function (callback, value, meta) {
                    /* Provide file and text for the link dialog */
                    if (meta.filetype === 'file') {
                        callback('https://www.google.com/logos/google.jpg', { text: 'My text' });
                    }

                    /* Provide image and alt text for the image dialog */
                    if (meta.filetype === 'image') {
                        callback('https://www.google.com/logos/google.jpg', { alt: 'My alt text' });
                    }

                    /* Provide alternative source and posted for the media dialog */
                    if (meta.filetype === 'media') {
                        callback('movie.mp4', { source2: 'alt.ogg', poster: 'https://www.google.com/logos/google.jpg' });
                    }
                },
                templates: [
                    { title: 'New Table', description: 'creates a new table', content: '<div class="mceTmpl"><table width="98%%"  border="0" cellspacing="0" cellpadding="0"><tr><th scope="col"> </th><th scope="col"> </th></tr><tr><td> </td><td> </td></tr></table></div>' },
                    { title: 'Starting my story', description: 'A cure for writers block', content: 'Once upon a time...' },
                    { title: 'New list with dates', description: 'New List with dates', content: '<div class="mceTmpl"><span class="cdate">cdate</span><br /><span class="mdate">mdate</span><h2>My List</h2><ul><li></li><li></li></ul></div>' }
                ],
                template_cdate_format: '[Date Created (CDATE): %m/%d/%Y : %H:%M:%S]',
                template_mdate_format: '[Date Modified (MDATE): %m/%d/%Y : %H:%M:%S]',
                height: 600,
                image_caption: true,
                quickbars_selection_toolbar: 'bold italic | quicklink h2 h3 blockquote quickimage quicktable',
                noneditable_noneditable_class: "mceNonEditable",
                toolbar_drawer: 'sliding',
                contextmenu: "link image imagetools table",
            });

            $("#TagSelector").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: $("#TagSelector").data("ajaxhelper"),
                        dataType: "json",
                        type:"POST",
                        data: {
                            nombre: request.term
                        },
                        success: function (data) {
                            response(data);
                        },
                    });
                },

                select: function (event, ui) {
                    console.log(ui.item ?
                        "Selected: " + ui.item.label :
                        "Nothing selected, input was " + this.value);
                }
            })
        })
    </script>

}