@model  Utilidades.infraestructura.Comun.AppError


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="container">
        <div class="row" style="font-family:Arial, Helvetica, sans-serif">
            <div class="alert-danger" role="alert" style="padding:20px;margin-top:10px; opacity:0.9 ; ">Ha ocurrido un error contacte con el administrador. identificador: @Model.Id</div>
            <div class="alert-warning" role="alert" style="padding:20px;margin-top:10px;opacity:0.9">@Model.MessageError</div>
            <div class="alert-info" role="alert" style="padding:20px;margin-top:10px;opacity:0.9">@Model.Trace</div>
        </div>
        @Html.ActionLink("Volver a inicio", "Index", "Home")
    </div>
    
    <div style="margin:0px auto; position:absolute;width:100%;text-align:center">
        <img src="~/Content/img/Error.jpg" />
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/app")



    <script>
        $().ready(function () {

            App.Comun.init();
        });
    </script>
</body>
</html>

